<div class="container-fluid ">
     <div class="row mt-5 mx-5">
                <div class="column">
                    <div class="card">
                        <div class="card-header ms-3 d-flex" style="font-weight: bold; color:grey; padding-top:20px; padding-bottom:20px;">
                            <i class="fas fa-box fa-lg"></i> <i class="fas fa-map-marker-alt fa-lg"></i>
                             <p class="ms-3" style="font-size:large">Track status of your shipment</p>
                        </div>
                        <div class="card-body mt-3">
                            <div class="card-items d-flex">
                            <p class="search d-flex" style="font-weight: bold;">Search By:
                                <label class="container ms-5">Order ID
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                  </label>
                            </p>
                        
                                <label class="container ms-5" style="font-weight: bold;">AWB
                                    <input type="checkbox" >
                                    <span class="checkmark"></span>
                                  </label>
                                </div>
                            
                         <form>
                            <input class="email px-5 mt-3 mx-3 " style="height: 50px; width:700px" id="number" name="text" placeholder="Enter AWB number to search" required>
                            <button class=" mt-4 text-white bg-primary ms-5" style="height: 50px; width:300px; border-radius: 0.2rem; " type="btn">Submit</button>
                         </form>
                        </div>
                      </div>
                </div>
            </div>
            <div class="mt-5">
                
            </div>
            
        </div>
   
