

<nav class="navbar navbar-light bg-light" style="overflow-x:hidden;">
  <div class="container-fluid d-flex align-items-center">
    <div class="icon">
      <i class="fa fa-search" style="padding: 10px;"></i> Search
    </div>
    <div class="mx-auto">
      <a class="navbar-brand " href="#">
        <img src="https://www.campusshoes.com/cdn/shop/files/logo-withour-r_220x.jpg?v=1728559644" alt="logo" class="">
      </a>
    </div>
    <div class="nav-item px-2"><i class="fas fa-user"></i>
      <a class="Account text-dark ms-2" routerLink="/Account">Account</a>
    </div>
    <div class="icon px-2" ><i class="fa fa-heart"></i>
      <a class="wishlist-1 text-dark ms-2" routerLink="/wishlist">wishlist</a>
    </div>
    <div class="icon px-2" ><i class="fas fa-shopping-cart"></i>
      <a class="cart text-dark ms-2" routerLink="/cart">cart</a>
    </div>
    <div class="icon px-2" ><i class="fas fa-store" ></i>
      <a  class="stores text-dark ms-2" routerLink="/stores" href="" >stores</a>
    </div>  
    <div class="icon px-2" ><i class="fas fa-truck"></i>
      <a class="track-order text-dark ms-2" routerLink="/track-order">Track Order</a>
    </div>
    </div>
  </nav>
