
<div class="row" style="overflow-x: hidden; background-color:#fde1df; " >
    <div class="col-2 py-5" style="height:100%;">
        <h5 class="card-title ps-5 mt-3">What's In Store</h5>
        <p class="mt-4 ps-5 text-secondary">New Arrivals</p>
        <p class="ps-5 text-secondary">Men</p>
        <p class="ps-5 text-secondary">Women</p>
        <p class="ps-5 text-secondary">Kids</p>
        <p class="ps-5 text-secondary">Track Order</p>
</div>
<div class="col-3 py-5" style="height:100%;">
    <h5 class="card-title  mt-3">Company Info & Policies</h5>
    <p class="mt-4 text-secondary">Blogs</p>
        <p class=" text-secondary">Corporate</p>
        <p class=" text-secondary">Terms & Conditions</p>
        <p class=" text-secondary">Privacy & Cokkies Policy</p>
        <p class=" text-secondary">FAQ's</p>
        <p class="  text-secondary">Return & Claim Policy</p>
        <p class=" text-secondary">Contact Us</p>
        <p class=" text-secondary">Return/Exchange</p>
        <p class=" text-secondary">Return Policy</p>
        <p class=" text-secondary">Shipping Policy</p>
</div>
<div class="col-3 py-5" style="height:100%;">
    <h5 class="card-title  mt-3">Get In Touch</h5>
    <p class="mt-4 text-secondary mt-3 fw-bolder fs-5">For Online Order</p>
        <p class=" text-secondary mt-3">Inquiry/Complaint</p>
        <p class=" text-secondary fw-bolder fs-5" style="margin-top: -20px;">9667706012</p>
        <p class=" text-secondary fw-bolder fs-5" style="margin-top: -20px;">10.00AM to 7:00PM</p>
        <p class=" text-secondary mt-3 ">Any Other queries:</p>
        <p class="  text-secondary fw-bolder fs-5" style="margin-top:-20px;">9667706012</p>
        <p class=" text-secondary fw-bolder fs-5" style="margin-top:-20px;">10.00AM to 7:00PM</p>
        <p class=" text-secondary fw-bold mt-2 fs-5">Email:customercaremail.com</p>
        <p class=" text-secondary fw-bolder fs-5">For Bulk/B2B/Institutional/School Orders and Queries please reach out to Mr. Ashim Mahajan.</p>
        <p class=" text-secondary fw-bold mt-2 fs-5">Email:harsh.mendhicampusshoes.com</p>
</div>
<div class="col-3 py-5">
    <h5 class="card-title mt-3">Newsletter</h5>
    <p class="card-text mt-3">Sign up for exclusive offers, original stories, upcoming events and more.</p>
    <form>
        <label for="email"></label>
        <input class="email px-5 mt-3 " style="height: 50px; width:300px" id="email" name="email" placeholder="Enter email" required>
        <button class="sign up mt-4 text-white bg bg-dark" style="height: 50px; width:150px " type="btn">SIGN UP</button>
    </form>
    <div class="icons mt-4">
        <i class="fa fa-twitter fa-2x px-2"></i>
    <i class="fa fa-facebook fa-2x px-2"></i>
<i class=" fa fa-youtube fa-2x px-2"></i>
<i class="fa fa-instagram fa-2x px-2"></i></div>
    </div>
</div>


