<div class="main-content">
    <!-- <router-outlet></router-outlet> -->
    

    <div class="row">
        <div class="col">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="caorusel-inner">
                    <div class="carousel-item active">
                        <img src="//www.campusshoes.com/cdn/shop/files/Artboard_2_feef9e3f-e384-4bfb-85f0-3436c94d3236_720x.webp?v=1729162889 720w 492h," class="d-block "
                            style="height:600px; width:100%" alt="">
                    </div>
                    <div class="carousel-item"><img
                            src="//www.campusshoes.com/cdn/shop/files/Artboard_2_17_900x.jpg?v=1733554658 900w 615h"
                            class="d-block w-100" style="height:600px;" alt="">
                    </div>
                    <div class="carousel-item"><img
                            src=" //www.campusshoes.com/cdn/shop/files/Artboard_2_c9451e2c-0a4e-4d46-8fa7-a72ebe18349d_540x.webp?v=1729752036 540w 369h"
                            class="d-block w-100" style="height:600px;" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col  d-flex justify-content-center mt-3">
            <div class="best-seller">
                <i class="fa fa-angle-left px-3 fa-3x text-danger"></i>
                <span class="mb-2" style="font-size:2.5rem;" >
                    Bestsellers</span>
                <i class="fa fa-angle-right px-4 fa-3x text-danger"></i>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col mx-1">
            <div class="card" style=" width:18rem;">
                <img src="https://www.campusshoes.com/cdn/shop/files/STAR_DUST_NAVY_REDG8_7_720x.webp?v=1727167456"
                    class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card title">STARDUST Navy Men's Sneakers</h5>
                    <p class="card-text">PRICE Rs. 1,363.00 M.R.PRs. 2,599.00
                        Inclusive of all Taxes</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style=" width:18rem;">
                <img src="https://www.campusshoes.com/cdn/shop/files/OG-30_22G-1249_BLU.BELL_WHT_7_720x.webp?v=1727167278"
                    class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card title">CAMP KRIPTO White Men's Running Shoes</h5>
                    <p class="card-text">PRICE Rs. 931.00 M.R.PRs. 1,699.00
                        Inclusive of all Taxes</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style=" width:18rem;">
                <img src="https://www.campusshoes.com/cdn/shop/files/STARDUST_STARDUST_BLK-T.BLU_07_180x.webp?v=1728536917"
                    class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card title">MIKE N Black Men's Running Shoes</h5>
                    <p class="card-text">PRICE Rs. 1,002.00 M.R.PRs. 1,699.00
                        Inclusive of all Taxes</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style=" width:18rem;">
                <img src="https://www.campusshoes.com/cdn/shop/files/OG-30_22G-1249_L.GRY_L.MAUVE_7_720x.webp?v=1727167156"
                    class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card title">FIRST White Men's Running Shoes</h5>
                    <p class="card-text">PRICE Rs. 1,099.00 M.R.PRs. 1,899.00
                        Inclusive of all Taxes</p>
                </div>
            </div>
        </div>
        <div class="col mt-3 mx-1">
            <div class="card" style=" width:18rem;">
                <img src="https://www.campusshoes.com/cdn/shop/files/OG-17_OG-17_L.GRY_BLK_7_720x.webp?v=1727167533"
                    class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card title">COVE White Men's Sneakers</h5>
                    <p class="card-text">M.R.P Rs. 1,949.00
                        Inclusive of all Taxes</p>
                </div>
            </div>
        </div>
        <div class="col mt-3">
            <div class="card" style=" width:18rem;">
                <img src="https://www.campusshoes.com/cdn/shop/files/OG-35_OG-35_BLK-L.GRY_07_720x.webp?v=1728537096"
                    class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card title">OG-35 Black Men's Sneakers</h5>
                    <p class="card-text">PRICE Rs. 1,359.00 M.R.PRs. 1,999.00
                        Inclusive of all Taxes</p>
                </div>
            </div>
        </div><div class="col mt-3">
            <div class="card" style=" width:18rem;">
                <img src="https://www.campusshoes.com/cdn/shop/files/TWIRL_22L-970_BLK_WHT_7_720x.webp?v=1727167594"
                    class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card title">TWIRL Black Women's Sneakers</h5>
                    <p class="card-text">PRICE Rs. 1,059.00 M.R.PRs. 1,999.00
                        Inclusive of all Taxes</p>
                </div>
            </div>
        </div><div class="col mt-3">
            <div class="card" style=" width:18rem;">
                <img src="https://www.campusshoes.com/cdn/shop/files/WEEKENDER_22G_1246_WHITE_NAVY_07_720x.webp?v=1727160627"
                    class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card title">WEEKENDER White Men's Sneakers</h5>
                    <p class="card-text">PRICE Rs. 1,363.00 M.R.PRs. 2,599.00
                        Inclusive of all Taxes</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row mx-2 mt-5">
        <div class="col-6">
        <div class="card">
            <img src="https://www.campusshoes.com/cdn/shop/files/Artboard_1_1c3c2388-e97d-4fe3-ae28-2bcd6b4ca7c3.webp?v=1729164734" class="card-img" alt="">
        </div>    
        </div>
        <div class="col-6">
        <div class="card">
            <img src="https://www.campusshoes.com/cdn/shop/files/Artboard_1_copy_37197920-1252-4eed-a598-83338375bfca.webp?v=1729164754" class="card-img" alt="">
        </div>    
        </div>
        <div class="col-6 mt-3">
        <div class="card">
            <img src="https://www.campusshoes.com/cdn/shop/files/Artboard_1_copy_2_598fac02-4516-44fa-86c7-7fe1cc5556ea.webp?v=1729164785" class="card-img" alt="">
        </div>    
        </div>
        <div class="col-6 mt-3">
        <div class="card">
            <img src="https://www.campusshoes.com/cdn/shop/files/Artboard_1_copy_3_25a45c79-8b55-4329-a1ed-b59f6f41ae48.webp?v=1729164815" class="card-img" alt="">
        </div>    
        </div>

        <div class="row mt-5">
            <div class="col text-dark d-flex justify-content-center">
                <span class="Explore-Now" style="font-size: 2rem">Explore More!</span></div>
        </div>
        
        <div class="row  mt-3">
            <div class="col-6">
                <div class="card">
                    <img src="https://www.campusshoes.com/cdn/shop/files/Artboard_2_900x.webp?v=1729161976" class="img-card" alt="">
                    <h5 class="title text-secondary">AUTUMN WINTER COLLECTION</h5>
                    <p class="text text-secondary">Step In, Stand Out: Shop Vikrant’s faves!</p>

                </div>
            </div>
            <div class="col-6 ">
                <div class="card">
                    <img src="https://www.campusshoes.com/cdn/shop/files/Artboard_3_1a137341-041e-4d4c-8e67-a4dcba6b6e17_900x.webp?v=1729162143" class="img-card" alt="">
                    <h5 class="title text-secondary">SNEAKERS FOR HER</h5>
                    <p class="text text-secondary">Sneaker Slay: Level up your fashion game! #YouGoGirl</p>
                </div>
    </div>
</div>

<div class="row mt-5" style="margin-right:0; font-family: Arial, sans-serif;
  display: flex;">
    <div class="col-6 d-flex" style="margin-top:70px; margin-bottom: 70px ">
        <div class="promo-card d-flex" >
           <img src="https://www.campusshoes.com/cdn/shop/files/Artboard_4_copy_460x.webp?v=1729161700"  class="img1 ms-5" alt="">
            <img src="https://www.campusshoes.com/cdn/shop/files/Artboard_4_460x.webp?v=1729161716" class="img2" alt="">
        </div>
        <div class=" col-6 text-content" style="padding-left:70px;
  display: flex;
  flex-direction: column;
  justify-content: center;">
            <h2>Just Kickin'</h2>
            <p>Explore our Kid's collection!</p>
            <button class="shop-btn bg-dark text-white" style="background-color: #1a1a1a;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;">SHOP NOW</button>
        </div>
    </div>
</div>
<div>
    <img src="https://www.campusshoes.com/cdn/shop/files/Women_98d08ea4-2231-459b-bbf2-f3eb806655b9_460x.jpg?v=1667386497" class="d-block "
                            style="height:600px; width:100%" alt="">
</div>
<div class="row py-5" style=" width:100%; ">
    <div class="col-4 px-5">
        <div class="fast delivery"><i class="fa fa-truck-fast "><span class="px-2">Fast Delivery</span></i></div>
   </div>
    <div class="col-4 px-5">
        <div class="fast delivery "><i class="fa-solid fa-rotate-left "><span class="px-2">15 days easy return</span></i></div>
   </div>
    <div class="col-4 px-5">
        <div class="fast delivery "><i class="fa fa-map-location-dot "><span class="px-2">Track Order</span></i></div>
   </div>
</div>

</div>
</div>