
<nav class="custom-navbar custom-navbar-secondary bg-danger text-white" style="height: 3rem;">
    <div class="container-lg d-flex justify-content-center  ">
       
        <div class="nav-item  px-5 mt-2">
            <span class="Sale" routerLink="/sale">SALE</span>
          </div>
        <div class="nav-item  px-3 mt-2">
            <span class="new-arrivals"routerLink="/new-arrivals">NEW ARRIVALS</span>
          </div>
        <div class="nav-item  px-5 mt-2">
            <span class="men" routerLink="/men">MEN</span>
          </div>
        <div class="nav-item  px-5 mt-2">
            <span class="women" routerLink="/women">WOMEN</span>
          </div>
        <div class="nav-item  px-5 mt-2">
            <span class="kids" routerLink="/kids">KIDS</span>
          </div>
        <div class="nav-item  px-5 mt-2">
            <span class="kids" routerLink="/collections">COLLECTIONS</span>
          </div>
        <div class="nav-item  px-5 mt-2">
            <span class="trending" routerLink="/trending">TRENDING</span>
          </div>
       </div>
</nav>
