<div class="container-fluid bg-light" style="overflow-x: hidden;">

        <div class="row" style="background-color: rgb(254, 246, 246); width:100%; height: 50px">
                <div class="col mt-3 d-flex">
                        <i class="fa fa-home px-2" routerLink="/home"><a class="text-dark px-2"
                                        href="javascript:void(0)">Home</a></i>
                        <i class="fas fa-grip-lines-vertical" style="margin-left: -10px;"><span
                                        class="px-2 text-secondary">stores</span></i>
                </div>
        </div>
        <div class="row">
                <div class="col">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                <div class="caorusel-inner">
                                        <div class="carousel-item active">
                                                <img src="https://campusshoes.vicinusapp.com/storage/clients/e48c853e9e9f43399f6c4189acc405be/assets/brands/featured/1721300802-33ett8dMFfApeAMxmAx3qPsWPHvVI6.png"
                                                        class="d-block " style="height:400px; width:100%" alt="">
                                        </div>
                                        <div class="carousel-item"><img
                                                        src="https://tse3.mm.bing.net/th?id=OIP.0BJ-01JynoPb68ogyexT4QHaFj&pid=Api"
                                                        class="d-block w-100" style="height:400px;" alt="">
                                        </div>
                                        <div class="carousel-item"><img
                                                        src="https://tse2.mm.bing.net/th?id=OIP.7eKTkDOiJ_FirdEZvCj5ygHaEL&pid=Api"
                                                        class="d-block w-100" style="height:400px;" alt=""></div>
                                </div>


                        </div>
                </div>
        </div>
        <div class=" row mt-4">
                <div class="col md-auto  d-flex justify-content-center align-items-center">
                        <div class="search-label  fw-bold">Search Nearby</div>
                        <input type="text" class="search-input mx-2" style="height: 50px; width:900px;"
                                placeholder="Enter your city or state">
                        <i class="fa fa-search search-icon "></i>
                </div>

        </div>

        <div class="row mt-5">
                <div class="col" style="font-weight: bold; font-size: 30px;">
                        <span>Campus Exclusive stores -<i style="color: #a35d02;"> In India</i></span>

                </div>
        </div>

        <div class="row">
                <div class="col-3 mt-5">
                        <i class="d-flex" style="color: grey;"> > <p class="mx-1"
                                        style="color: rgb(61, 86, 249); font-size:larger">
                                        Andhra Pradesh (2)</p></i>
                        <i class="d-flex" style="color: grey;"> > <p class="mx-1"
                                        style="color: rgb(61, 86, 249); font-size:larger">
                                        Gujarat (59)</p></i>
                        <i class="d-flex" style="color: grey;"> > <p class="mx-1"
                                        style="color: rgb(61, 86, 249); font-size:larger">
                                        Jharkhand (6)</p></i>
                        <i class="d-flex" style="color: grey;"> > <p class="mx-1"
                                        style="color: rgb(61, 86, 249); font-size:larger">
                                        Orissa (4)</p></i>
                        <i class="d-flex" style="color: grey;"> > <p class="mx-1"
                                        style="color: rgb(61, 86, 249); font-size:larger">
                                        Uttar Pradesh (54)</p></i>
                </div>
                <div class="col-3 mt-5">
                        <i class="d-flex" style="color: grey;"> > <p class="mx-1"
                                        style="color: rgb(61, 86, 249); font-size:larger">
                                        Bihar (17)</p></i>
                        <i class="d-flex" style="color: grey;"> > <p class="mx-1"
                                        style="color: rgb(61, 86, 249); font-size:larger">
                                        Haryana (14)</p></i>
                        <i class="d-flex" style="color: grey;"> > <p class="mx-1"
                                        style="color: rgb(61, 86, 249); font-size:larger">
                                        Karnataka (6)</p></i>
                        <i class="d-flex" style="color: grey;"> > <p class="mx-1"
                                        style="color: rgb(61, 86, 249); font-size:larger">
                                        Punjab (2)</p></i>
                        <i class="d-flex" style="color: grey;"> > <p class="mx-1"
                                        style="color: rgb(61, 86, 249); font-size:larger">
                                        Uttarakhand (7)</p></i>
                </div>
                <div class="col-3 mt-5">
                        <i class="d-flex" style="color: grey;"> > <p class="mx-1"
                                        style="color: rgb(61, 86, 249); font-size:larger">
                                        Chattisgarh (6)</p></i>
                        <i class="d-flex" style="color: grey;"> > <p class="mx-1"
                                        style="color: rgb(61, 86, 249); font-size:larger">
                                        Himachal Pradesh (2)</p></i>
                        <i class="d-flex" style="color: grey;"> > <p class="mx-1"
                                        style="color: rgb(61, 86, 249); font-size:larger">
                                        Madhya Pradesh (14)</p></i>
                        <i class="d-flex" style="color: grey;"> > <p class="mx-1"
                                        style="color: rgb(61, 86, 249); font-size:larger">
                                        Rajasthan (21)</p></i>
                        <i class="d-flex" style="color: grey;"> > <p class="mx-1"
                                        style="color: rgb(61, 86, 249); font-size:larger">
                                        West Bengal (2)</p></i>
                </div>
                <div class="col-3 mt-5">
                        <i class="d-flex" style="color: grey;"> > <p class="mx-1"
                                        style="color: rgb(61, 86, 249); font-size:larger">
                                        Delhi (32)</p></i>
                        <i class="d-flex" style="color: grey;"> > <p class="mx-1"
                                        style="color: rgb(61, 86, 249); font-size:larger">
                                        Jammu and Kashmir(1)</p></i>
                        <i class="d-flex" style="color: grey;"> > <p class="mx-1"
                                        style="color: rgb(61, 86, 249); font-size:larger">
                                        Maharashtra(34)</p></i>
                        <i class="d-flex" style="color: grey;"> > <p class="mx-1"
                                        style="color: rgb(61, 86, 249); font-size:larger">
                                        Telangana (3)</p></i>
                </div>
        </div>
        <div class="row mt-5 justify-content-center align-items-center text-center" style="background-color: #f7f1f0">
                <div class="col-4 mt-3" style="padding-top: 20px; padding-bottom:30px">
                        <span class=" text-align-cnter align-items-center">Fast Delivery<i
                                        class=" fa fa-truck fa-lg px-4"></i></span>
                </div>
                <div class="col-4 mt-3" style="padding-top: 20px; padding-bottom:30px">
                        <span class="">15 days easy return<i class=" fas fa-redo fa-lg px-4"></i></span>
                </div>
                <div class="col-4 mt-3" style="padding-top: 20px; padding-bottom:30px">
                        <span class="align-items-center justify-content-center">Accepting orders 24/7<i
                                        class=" fas fa-map-marker-alt fa-lg px-4"></i></span>
                </div>
        </div>

</div>