<div class="sale" style="overflow-x: hidden;">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://www.campusshoes.com/cdn/shop/collections/SALE_Category_Banner_002.jpg?v=1730784706"
                    class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3 mt-4">
            <div class="col-items" >
                <div class=" d-flex  text-secondary mx-4" style="font-size: 11.6px;">
                    <p class="mx-1">HOME</p>
                    <p class="mx-1">/</p>
                    <p class="mx-1">SHOP</p>
                    <p class="mx-1">/</p>
                    <p class="mx-1">SALE</p>
                </div>


                <div class="btn-group mx-2 " style="padding-right: 100px;">
                    <button class="btn btn-white btn-sm dropdown-toggle" style="margin-left: 20px; font-weight: bold"
                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        PRICE
                    </button>

                </div>
                <div class="btn-group mx-2 mt-3" style="padding-right: 110px;">
                    <button class="btn btn-white btn-sm dropdown-toggle" style="margin-left: 20px; font-weight: bold"
                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        SIZE
                    </button>
                </div>
                <div class="btn-group mx-2 mt-3 " style="padding-right: 110px;">
                    <button class="btn btn-white btn-sm dropdown-toggle" style="margin-left: 20px; font-weight: bold"
                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        COLOR
                    </button>
                </div>
                <div class="btn-group mx-2 mt-3">
                    <button class="btn btn-white btn-sm dropdown-toggle" style="margin-left: 20px; font-weight: bold"
                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        PRODUCT TYPE
                    </button>
                </div>
            </div>
        </div>
        <div class="col d-flex">
            <div class="card" style=" width:14rem;  ">
                <img src="https://www.campusshoes.com/cdn/shop/files/SIREN_22L-961_NAVY_PINK_1_180x.jpg?v=1722669350"
                    class="card-img-top" alt="">
                <div class="card-body">
                    <p class="card title text-secondary" >SIREN Navy Women's Running Shoes</p>
                    <p class="card-text text-secondary">PRICE Rs. 1,230.00 <a href="" class="text-danger mx-2">SALE</a></p>
                </div>
            </div>
            <div class="card" style=" width:14rem;  ">
                <img src="https://www.campusshoes.com/cdn/shop/products/CAMPKRIPTO_22G-117_WHT-MSTD_2_720x.jpg?v=1705661251"
                    class="card-img-top" alt="">
                <div class="card-body">
                    <p class="card title text-secondary" >CAMP KRIPTO White Men's Running Shoes</p>
                    <p class="card-text text-secondary">PRICE Rs. 970.00 <a href="" class="text-danger mx-2">SALE</a></p>
                </div>
            </div>
            <div class="card" style=" width:14rem;  ">
                <img src="https://www.campusshoes.com/cdn/shop/products/MIKE-5G-845-BLK-GOLDEN_2_720x.jpg?v=1705644982"
                    class="card-img-top" alt="">
                <div class="card-body">
                    <p class="card title text-secondary" >MIKE N Black Men's Running Shoes</p>
                    <p class="card-text text-secondary">PRICE Rs. 1,002.00 <a href="" class="text-danger mx-2">SALE</a></p>
                </div>
            </div>
            <div class="card" style=" width:14rem;  ">
                <img src="https://www.campusshoes.com/cdn/shop/files/FIRST_11G-787_WHT-SIL-B.ORG_2_720x.jpg?v=1705644649"
                    class="card-img-top" alt="">
                <div class="card-body">
                    <p class="card title text-secondary" >FIRST White Men's Running Shoes</p>
                    <p class="card-text text-secondary">PRICE Rs. 1,119.00 <a href="" class="text-danger mx-2">SALE</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex " style="padding-left:331px; ">
            <div class="card" style=" width:14rem;">
                <img src="https://www.campusshoes.com/cdn/shop/files/COVE_COVE_WHT-L.BEIGE_01_720x.webp?v=1728536836"
                    class="card-img-top" alt="">
                <div class="card-body">
                    <p class="card title text-secondary" >COVE White Men's Sneakers</p>
                    <p class="card-text text-secondary">PRICE Rs. 1,949.00 <a href="" class="text-danger mx-2">SALE</a></p>
                </div>
            </div>
            <div class="card" style=" width:14rem;">
                <img src="https://www.campusshoes.com/cdn/shop/files/OG-30_22G-1249_L.GRY_L.MAUVE_1_180x.webp?v=1727167155"
                    class="card-img-top" alt="">
                <div class="card-body">
                    <p class="card title text-secondary" >OG-30 Grey Men's Sneakers</p>
                    <p class="card-text text-secondary">PRICE Rs. 1,459.00 <a href="" class="text-danger mx-2">SALE</a></p>
                </div>
            </div>
            <div class="card" style=" width:14rem;">
                <img src="https://www.campusshoes.com/cdn/shop/files/YASMIN_22L-963_OFF.WHT_L.GRY_1_180x.jpg?v=1722683171"
                    class="card-img-top" alt="">
                <div class="card-body">
                    <p class="card title text-secondary" >YASMIN White Women's Sneakers</p>
                    <p class="card-text text-secondary">PRICE Rs. 1,328.00 <a href="" class="text-danger mx-2">SALE</a></p>
                </div>
            </div>
            <div class="card" style=" width:14rem;">
                <img src="https://www.campusshoes.com/cdn/shop/files/OG-22_OG-22_WHT_NAVY_1_180x.jpg?v=1722666685"
                    class="card-img-top" alt="">
                <div class="card-body">
                    <p class="card title text-secondary" >OG-22 White Men's Sneakers</p>
                    <p class="card-text text-secondary">PRICE Rs. 1,181.00 <a href="" class="text-danger mx-2">SALE</a></p>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col d-flex " style="padding-left:331px; ">
            <div class="card" style=" width:14rem;">
                <img src="https://www.campusshoes.com/cdn/shop/files/COVE_COVE_WHT-L.BEIGE_01_720x.webp?v=1728536836"
                    class="card-img-top" alt="">
                <div class="card-body">
                    <p class="card title text-secondary" >COVE White Men's Sneakers</p>
                    <p class="card-text text-secondary">PRICE Rs. 1,949.00 <a href="" class="text-danger mx-2">SALE</a></p>
                </div>
            </div>
            <div class="card" style=" width:14rem;">
                <img src="https://www.campusshoes.com/cdn/shop/files/OG-30_22G-1249_L.GRY_L.MAUVE_1_180x.webp?v=1727167155"
                    class="card-img-top" alt="">
                <div class="card-body">
                    <p class="card title text-secondary" >OG-30 Grey Men's Sneakers</p>
                    <p class="card-text text-secondary">PRICE Rs. 1,459.00 <a href="" class="text-danger mx-2">SALE</a></p>
                </div>
            </div>
            <div class="card" style=" width:14rem;">
                <img src="https://www.campusshoes.com/cdn/shop/files/YASMIN_22L-963_OFF.WHT_L.GRY_1_180x.jpg?v=1722683171"
                    class="card-img-top" alt="">
                <div class="card-body">
                    <p class="card title text-secondary" >YASMIN White Women's Sneakers</p>
                    <p class="card-text text-secondary">PRICE Rs. 1,328.00 <a href="" class="text-danger mx-2">SALE</a></p>
                </div>
            </div>
            <div class="card" style=" width:14rem;">
                <img src="https://www.campusshoes.com/cdn/shop/files/OG-22_OG-22_WHT_NAVY_1_180x.jpg?v=1722666685"
                    class="card-img-top" alt="">
                <div class="card-body">
                    <p class="card title text-secondary" >OG-22 White Men's Sneakers</p>
                    <p class="card-text text-secondary">PRICE Rs. 1,181.00 <a href="" class="text-danger mx-2">SALE</a></p>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col d-flex " style="padding-left:331px; ">
            <div class="card" style=" width:14rem;">
                <img src="https://www.campusshoes.com/cdn/shop/files/COVE_COVE_WHT-L.BEIGE_01_720x.webp?v=1728536836"
                    class="card-img-top" alt="">
                <div class="card-body">
                    <p class="card title text-secondary" >COVE White Men's Sneakers</p>
                    <p class="card-text text-secondary">PRICE Rs. 1,949.00 <a href="" class="text-danger mx-2">SALE</a></p>
                </div>
            </div>
            <div class="card" style=" width:14rem;">
                <img src="https://www.campusshoes.com/cdn/shop/files/OG-30_22G-1249_L.GRY_L.MAUVE_1_180x.webp?v=1727167155"
                    class="card-img-top" alt="">
                <div class="card-body">
                    <p class="card title text-secondary" >OG-30 Grey Men's Sneakers</p>
                    <p class="card-text text-secondary">PRICE Rs. 1,459.00 <a href="" class="text-danger mx-2">SALE</a></p>
                </div>
            </div>
            <div class="card" style=" width:14rem;">
                <img src="https://www.campusshoes.com/cdn/shop/files/YASMIN_22L-963_OFF.WHT_L.GRY_1_180x.jpg?v=1722683171"
                    class="card-img-top" alt="">
                <div class="card-body">
                    <p class="card title text-secondary" >YASMIN White Women's Sneakers</p>
                    <p class="card-text text-secondary">PRICE Rs. 1,328.00 <a href="" class="text-danger mx-2">SALE</a></p>
                </div>
            </div>
            <div class="card" style=" width:14rem;">
                <img src="https://www.campusshoes.com/cdn/shop/files/OG-22_OG-22_WHT_NAVY_1_180x.jpg?v=1722666685"
                    class="card-img-top" alt="">
                <div class="card-body">
                    <p class="card title text-secondary" >OG-22 White Men's Sneakers</p>
                    <p class="card-text text-secondary">PRICE Rs. 1,181.00 <a href="" class="text-danger mx-2">SALE</a></p>
                </div>
            </div>

        </div>
    </div>
    <div class="row mt-5 justify-content-center align-items-center text-center" style="background-color: #f7f1f0">
        <div class="col-4 mt-3" style="padding-top: 20px; padding-bottom:30px">
                <span class=" text-align-cnter align-items-center">Fast Delivery<i
                                class=" fa fa-truck fa-lg px-4"></i></span>
        </div>
        <div class="col-4 mt-3" style="padding-top: 20px; padding-bottom:30px">
                <span class="">15 days easy return<i class=" fas fa-redo fa-lg px-4"></i></span>
        </div>
        <div class="col-4 mt-3" style="padding-top: 20px; padding-bottom:30px">
                <span class="align-items-center justify-content-center">Accepting orders 24/7<i
                                class=" fas fa-map-marker-alt fa-lg px-4"></i></span>
        </div>
</div>
</div>